body {
  background-color: #e6e6e6 !important;
  min-height: 100%;
  color: #212427 !important;
}

html {
  display: flex;
  justify-content: center;
  background-image: url(../public/forestBG.webp);
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  height: 100%;
  
}

.FormContainer {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
  border-style: solid;
  border-color: #D2D2D2;
  border-radius: 5px;
  padding: 20px;
  background-color: #BFCEBE;
}

.RSVPform {
  width: 20vw;
}

.RSVPheader {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.MainContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 3.5vh;
  align-items: center;
  background-color: #e6e6e6;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 767px) {
  .MainContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 3.5vh;
    align-items: center;
    background-color: #e6e6e6;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .MainContainer2 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 6vh;
    align-items: center;
    background-color: #e6e6e6;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .RSVPform {
    width: 90vw;
  }
  .HideOnMobile {
    display: none;
  }
}

.MainContainer2 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 6vh;
  align-items: center;
  background-color: #e6e6e6;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 1200px) {
  .MainWidth1 {
    width: 30vw !important;
  }
  .MainWidth2 {
    width: 35vw !important;
  }
}


@media (max-width: 767px) {
  .MainWidth1 {
    width: 100vw !important;
    background-color: #e6e6e6;
  }
  .MainWidth2 {
    width: 100vw !important;
    background-color: #e6e6e6;
    overflow: hidden;
  }
}


.EnglishButton {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #D2D2D2;
  border-radius: 32.5px;
  border-width: 1px;
  width: 10vw;
  color: black;
  margin-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

.EnglishButton:hover {
  cursor: pointer;
  background-color: #5A8F7B;
  color: white;
}

.SpanishButton:hover {
  cursor: pointer;
  background-color: #5A8F7B;
  color: white;
}

.SpanishButton {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #D2D2D2;
  border-radius: 32.5px;
  border-width: 1px;
  width: 10vw;
  color: black;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

.HeaderTextShadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
  .EnglishButton {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #D2D2D2;
    border-radius: 32.5px;
    border-width: 1px;
    width: 75vw;
    color: black;
    margin-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .SpanishButton {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #D2D2D2;
    border-radius: 32.5px;
    border-width: 1px;
    width: 75vw;
    color: black;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.LanguageText {
  font-size: 22px;
  padding: 5px;
}

.MainImage {
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 5px;
  border-color: #f4f4f4;
  border-style: solid;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.11);
}

.OutfitsImage {
  border-width: 5px;
  border-color: #f4f4f4;
  border-style: solid;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.11);
}

.MainHeader {
  margin-top: 10px;
  color: black;
  width: 35%;
}

.MainHeaderTop {
  margin-top: 20px;
  color: black;
  width: 45%;
}

.MainHeaderBottom {
  margin-top: 10px;
  color: black;
  width: 45%;
}

@media (max-width: 767px) {
  .MainHeaderTop {
    margin-top: 20px;
    color: black;
    width: 70%;
  }
  .MainHeaderBottom {
    margin-top: 10px;
    color: black;
    width: 70%;
  }
  .DetailsContainerCol1 {
    text-align: start !important;
    padding: 10px;
    align-items: center;
  }
}

.YoureInvitedContainer {
  margin-top: 12px;
}

.MainHeaderH1 {
  font-size: 64px;
  margin-bottom: -4px;
}

.DividerMain {
  width: 45%;
}

.DividerRSVP {
  width: 45%;
}

.ButtonContainer {
  margin-top: 25px;
  margin-bottom: 20px;
}

.countdownTimer {
  margin-bottom: 17px;
  margin-top: 12px;
  color: #5A8F7B;
  font-weight: 600;
  font-size: large;
}

.DetailsContainer {
  margin-bottom: 40px;
  text-align: start;
  margin-left: 55px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  background-color: white;
  justify-content: center;
}

.DetailsContainerCol1 {
  text-align: center;
  padding: 10px;
  align-items: center;
  font-size: 14px;
}

.DetailsContainerCol2 {
  padding-right: 0 !important;
}

.DetailsListItem {
  margin-bottom: 4px;
}

.CropImageTown {
  background-image: url('../public/clip-art/town.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.DresscodeContainer {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}

.BlackText {
  background-color: black;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
}

.GreenText {
  background-color: #5A8F7B;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
}

.BackButton {
  margin-left: 6% !important;
  margin-top: 5% !important;
  background-color: white !important;
  color: black !important;
}

.BackButton:hover {
  background-color: #2eaf58 !important;
  color: white !important;
}

.InvitationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 40px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ManuelInvitation {
  margin-top: '30px';
  margin-bottom: '20px'; 
  font-size: '24px';
}

.DetailsHeaderSize {
  font-size: 74px;
}

.DresscodeContainer {
  justify-content: center;
  margin: auto;
  margin: 50px;
}

.PleaseWear {
  margin-left: 30px;
}

.FontHeader {
  font-family: 'Rancho';
}

.FontSubHeader {
  font-family: 'Rosario';
}

.FontText {
  font-family: 'Merriweather';
}

/* carousel component */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 40%;
  min-width: 0;
  justify-content: center;
  display: flex;
  margin-right: 20px;
}
