.body {
  background-color: white;
}

.FormContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.RSVPform {
  width: 30vw;
}

.RSVPheader {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}