body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Rancho';
  src: url(./fonts/Rancho-Regular.ttf);
}

@font-face {
  font-family: 'Rosario';
  src: url(./fonts/Rosario-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Merriweather';
  src: url(./fonts/Merriweather-Regular.ttf);
}